.profile {
    max-width: 512px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 15px 5px #b5b4b4;
}

.description {
    text-align: center;
}

.avatar {
    border-radius: 50%;
    background-color: #b5b4b4;
}

.name {
    display: block;
    font-size: large;
    font-weight: 900;
}

.tag {
    font-size: medium;
    color: grey;
}

.location {
    font-size: medium;
    color: grey;
}

.stats {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    background-color: #b5b4b4;
    height: 60px;
}

.label {
    display: block;
    color: white;
}

.quantity {
    display: block;
    font-size: medium;
    font-weight: 700;
}